<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-site}">
<head>
<title>Ranking</title>
</head>
<body>
	<main layout:fragment="conteudo">
	
        <h3 class="pageTitle"><i class="fa fa-trophy" aria-hidden="true"></i> Ranking</h3>

        <ul class="media-list">
            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <span class="rankingNumber">#01</span>
                        <img class="media-object thumbnail figureRanking" th:src="@{/img/01R.jpg}" alt="..."/>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">TRIPEL MONTFORT WOOD</h4>
                </div>
            </li>

            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <span class="rankingNumber">#02</span>
                        <img class="media-object thumbnail figureRanking" th:src="@{/img/02R.jpg}" alt="..."/>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">MF STRONG SCOTCH</h4>
                </div>
            </li>

            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <span class="rankingNumber">#03</span>
                        <img class="media-object thumbnail figureRanking" th:src="@{/img/03R.jpg}" alt="..."/>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">MF TRIPEL BARRIL VINHO DO PORTO</h4>
                </div>
            </li>

            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <span class="rankingNumber">#04</span>
                        <img class="media-object thumbnail figureRanking" th:src="@{/img/04R.jpg}" alt="..."/>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"> BODEBROWN DOUBLE PERIGOSA WOOD</h4>
                </div>
            </li>

            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <span class="rankingNumber">#05</span>
                        <img class="media-object thumbnail figureRanking" th:src="@{/img/05R.jpg}" alt="..."/>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"> BODEBROWN WEE HEAVY</h4>
                </div>
            </li>

            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <span class="rankingNumber">#06</span>
                        <img class="media-object thumbnail figureRanking" th:src="@{/img/06R.jpg}" alt="..."/>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"> DOGMA RIZOMA</h4>
                </div>
            </li>

            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <span class="rankingNumber">#07</span>
                        <img class="media-object thumbnail figureRanking" th:src="@{/img/07R.jpg}" alt="..."/>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"> SEASONS HOLY COW</h4>
                </div>
            </li>

            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <span class="rankingNumber">#08</span>
                        <img class="media-object thumbnail figureRanking" th:src="@{/img/08R.jpg}" alt="..."/>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"> MD FRUIT BERLINER CABERNET</h4>
                </div>
            </li>

            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <span class="rankingNumber">#09</span>
                        <img class="media-object thumbnail figureRanking" th:src="@{/img/09R.jpg}" alt="..."/>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"> DOGMA CITRA LOVER</h4>
                </div>
            </li>

            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <span class="rankingNumber">#10</span>
                        <img class="media-object thumbnail figureRanking" th:src="@{/img/10R.jpg}" alt="..."/>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"> SEASONS GREEN COW HARVEST IPA</h4>
                </div>
            </li>
        </ul>
	</main>

</body>
</html>