<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-site}">
<head>
<title>Ranking</title>
</head>
<body>
	<main layout:fragment="conteudo">
	
        <h3 class="pageTitle focus"><i class="fa fa-trophy" aria-hidden="true"></i> Ranking</h3>

        <ul class="media-list" th:each="cerveja, index: ${ranking}">
            <li class="media">
                <div class="media-left">
                    <a th:href="@{/cerveja/{id}(id=${cerveja.id})}">
                        <span class="rankingNumber" th:text="'#'+${index.count}">#01</span>
                        <img class="media-object thumbnail figureRanking" th:src="@{/uploads/cervejas/{foto}(foto=${cerveja.foto})}" alt="..."/>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${cerveja.marca}"></h4>
                    <span th:text=" 'Avaliação geral: ' +${avaliacaoService.getAvaliacaoGeral(cerveja)}">&nbsp;</span>
                    <span data-toggle="tooltip" data-placement="top" title="Avaliar">
						<i class="fa fa-thumbs-o-up" aria-hidden="true"
						data-toggle="modal" data-target="#avaliacaoModal"
						data-msg="a cerveja" data:item="${cerveja.marca}" data:id="${cerveja.id}"> </i>
				</span>
                </div>
            </li>
        </ul>
        
        <div th:include="layout/fragments/avaliacaoModal"></div>
	</main>

</body>
</html>