<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="avaliacaoModal" class="modal  fade" id="avaliacaoModal" tabindex="-1"
		role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Avaliar cerveja</h4>
				</div>
				<div class="modal-body">
				<h4 id="nomeCerveja"></h4>
					<form>
					<input type="hidden" id="idCerveja">
						<div class="row">
							<div class="col-sm-4">
								<div class="form-group">
									<div class="col-sm-12">
										<label for="aroma">Aroma</label> <select
											class="form-control ratingStar" id="aromaAval">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
										</select>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
										<label for="aparencia">Aparência</label> <select
											class="form-control ratingStar" id="aparenciaAval">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
										</select>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
										<label for="sabor">Sabor</label> <select
											class="form-control ratingStar" id="saborAval">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
										</select>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
										<label for="sensacao">Sensação</label> <select
											class="form-control ratingStar" id="sensacaoAval">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
										</select>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
										<label for="conjunto">Conjunto</label> <select
											class="form-control ratingStar" id="conjuntoAval">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
										</select>
									</div>
								</div>

							</div>
							<div class="col-sm-8">
								<div class="form-group">
									<div class="col-sm-12">
										<label for="nome">Comentário</label>
										<textarea name="msg" id="msg" class="form-control noResize"
											rows="11" required maxlength="255"></textarea>
									</div>
								</div>
							</div>
						</div>


					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn  btn-default" data-dismiss="modal">Sair</button>
					<button class="btn  btn-primary btSalvarAvaliacao">Avaliar</button>
				</div>

			</div>
		</div>
	</div>
</html>