<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-site}">
<head>
<title>Cadastro de cerveja</title>
</head>
<body>
	<main layout:fragment="conteudo">

	<h3 class="pageTitle">
		<i class="fa fa-search" aria-hidden="true"></i> Pesquisa de cerveja
	</h3>

	<div class="alert alert-success alert-dismissible" role="alert" th:if="${!#strings.isEmpty(mensagem)}">
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<i class="fa  fa-exclamation-circle"></i> <span th:text="${mensagem}"></span>
	</div>

	<form method="GET" class="form-vertical  js-form-loading"
		th:object="${cervejaFilter}">

		<div class="form-group">
			<div class="input-group">
				<input id="marca" type="text" class="form-control focus"
					placeholder="Pesquise pela marca" th:field="*{marca}" autofocus/> <span
					class="input-group-btn">
					<button class="btn btn-default" type="submit">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</div>
	</form>

	<table class="table table-hover table-bordered table-responsive">
		<thead>
			<tr>
				<th>Marca</th>
				<th>Categoria</th>
				<th>Embalagem</th>
				<th>Fermentação</th>
				<th>Litragem</th>
				<th>Nacionalidade</th>
				<th>País de origem</th>
				<th>Sabor</th>
				<th>Tipo</th>
				<th>Faixa de preço</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cerveja: ${cervejaList}">
				<td th:text="${cerveja.marca}"></td>
				<td th:text="${cerveja.categoria.descricao}"></td>
				<td th:text="${cerveja.embalagem.descricao}"></td>
				<td th:text="${cerveja.fermentacao.descricao}"></td>
				<td th:text="${cerveja.litragem.descricao}"></td>
				<td th:text="${cerveja.nacionalidade.descricao}"></td>
				<td th:text="${cerveja.paisOrigem.descricao}"></td>
				<td th:text="${cerveja.sabor.descricao}"></td>
				<td th:text="${cerveja.tipo.descricao}"></td>
				<td th:text="${cerveja.faixaPreco.descricao}"></td>
				<td class="actionIcons"><a
					th:href="@{/cerveja/{id}(id=${cerveja.id})}"> <i
						class="fa fa-pencil-square-o" aria-hidden="true"></i>
				</a> <i class="fa fa-trash" aria-hidden="true"></i></td>
			</tr>
			<tr th:if="${cervejaList.empty}">
				<td colspan="11">Nenhuma cerveja cadastrada</td>
			</tr>
		</tbody>


	</table>
	</main>
</body>
</html>